<div class="box filedroplistner">
  <fieldset class="tabular">
    <legend>Testler</legend>
    <div id="all_attributes">
      <ol>
        <% 
            issue_data = JSON.parse(@issue_data)
            issue_data["issue_tests"].each do |test| 
        %>
          <li>
          PAKET VAR - <%= test["text"] %>
            <ol>
            <li>Koşu 21 &check;</li>
            <li>Koşu 19 &#215;</li>
            </ol>
          </li>

        <% end %>
      </ol>
    </div>
  </fieldset>
</div>
