<table>
  <thead>
    <tr>
    <th colspan="2">Kiwi REST API</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <th>URL</th>
      <td>
        <input type="text" id="settings_rest_api_url" 
                           value="<%= settings['rest_api_url'] %>" 
                           name="settings[rest_api_url]" >
      </td>
    </tr>
    <tr>
      <th>Username</th>
      <td>
        <input type="text" id="settings_rest_api_username" 
                           value="<%= settings['rest_api_username'] %>" 
                           name="settings[rest_api_username]" >
      </td>
    </tr>
    <tr>
      <th>Password</th>
      <td>
        <input type="text" id="settings_rest_api_password" 
                           value="<%= settings['rest_api_password'] %>" 
                           name="settings[rest_api_password]" >
      </td>
    </tr>
    <tr>
      <th>Sync Kiwi Tests</th>
      <td>
      <script>
        function syncKiwiTests(){
          $.get( "/my_plugin/tests/sync", function( data ) {
            console.log( data );
            mesaj = `${data.after-data.before} Kayıt eklendi` 
            alert( "Eşleştirme başarıyla tamamlandı.\n", mesaj );
          });
        }
      </script>
        <input type="button" id="btn_sync_kiwi_tests" 
                           value="Sync Kiwi Tests" 
                           name="btn_sync_kiwi_tests" onclick="syncKiwiTests()">
      </td>
    </tr>
  </tbody>
</table>
<%= MyPlugin::Kiwi.fetch_kiwi_product_categories %>